target/
.idea/
*.ipr
*.iml
target
/lib
classes
checkouts
*.jar
*.class
.lein-*
.nrepl-port
.idea
ui/coverage
test.log
analytics.json

.dir-locals.el
dev/resources/local.edn
dev/src/local.clj
profiles.clj
logs/
