{:duct.core/project-ns  flexiana-scramble
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/cljs {:main flexiana-scramble.client}
 
 :duct.router/cascading
 [#ig/ref :flexiana-scramble.handler/api]

 :flexiana-scramble.handler/api
 {}}
